/* Основное */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: bookos;
    src: url(/test/bookos.otf);
}

a{
    text-decoration: none;
    color: black;
    font-weight:800;
}

li{
    list-style: none;
}

body{
    font-family: Arial bookos;
    font-size:0.9em;
    padding: 0;
}

footer{
    margin-top: 0.5em;
    border-top: 3px double black;
    padding: 0.5em 3em;
    color: #666;
    text-align: right;
}


/* Доп. классы */

.right{
    float:right;
    text-align:right;
}

.left{
    float:left;
}

.clear{
    clear:both;
}
.center{
    text-align: center;
    margin: auto;
}

.mb05{
    margin-bottom:0.5em;
}
.mt05{
    margin-top:0.5em;
}

.inline{
    display: inline-block;
}


button[disabled]{
    color:#ddd;
}



/* Для админов */
.admin_button{
    color: #3d3d3d;
    font-weight: 800;
}
.admin_button:hover, a:hover{
    cursor:pointer;
    text-decoration:underline;
}










#body{
    width:100%;
    height:100%;
}
.cke{
    margin:0 10px 0 0 !important;
    border:1px solid black !important;
}

#container{
    min-height: 100%;
    margin:0 auto;
    padding:0.25em;
    background-color:#fff;
    color: black;
}

@media (min-width: 1300px){
    #container{
        padding-left: 6em;
        padding-right: 6em;
    }
}

h{
    padding:2px 5px;
    display:block;
    margin: 5px 0 5px 0;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
    border: none;
    background-color: black;
}

.radio_info{
    text-align:center;
    /* color:black; */
    margin-bottom:0.5em;
}



nav{
    display:flex;
    justify-content:space-around;
    border-bottom: 3px double black;
}


.column{
    display: inline-block;
}
.window, nav{
    margin: 0.25em;
    background-color: white;
}
.window *{
    /* max-width:100% !important; */
}
.window_body, nav{
    padding: 0.5em;
}

.window img, .window table{
    max-width: calc(100% - 10px);
}

.window img{
    border: 2px solid $ccc;
    border-radius: 4px;
    margin: 3px;
}

.first_column_line{
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-top: none;
    border-bottom: none;
}





/* Формы. На данный момент не актуально...  */
.form-container{
    margin-top:10px;
}
.form-title{
    float:left;
    padding:0 5px;
    width:30%;
    text-align:right;
}
.form-body{
    margin-left:30%;
    /* padding-top:3px; */
}
.form-info{
    color:grey;
    font-size:12px;
    padding:2px;
}
.form-error{
    color:red;
    font-size:12px;
    padding:2px;
}

/*  Элементы форм  */

input, button, select{
    height: 1.5em;
}










button:hover{
    cursor:pointer;
}




/*  Стили самого блога */
.blog_tag{
    cursor:pointer;
    color: black;
    font-weight:800;
}

#blog-view img{
    max-width:100%;
}

.blog_tag:hover{
    text-decoration:underline;
}

.blog_header{
    padding:0.5em 0 0.5em 5em;
    margin:2em 2em 0 2em;
    background-color:grey;
    font-size:1.5em;
}

.blog_open, .events_open{
    cursor:pointer;
    color:#f8fff8;
    font-weight: 800;
    text-decoration:bold;
}
.blog_open:hover, .events_open:hover{
    text-decoration:underline;
}

.blog_image{
    height: 6em;
    width: 6em;
    margin-right: 0.5em;
    border:1px solid white;
    border-radius:0.5em;
    overflow:hidden;
}
.blog_image > img{
    height:100%;
}

.blog_info{
    text-align:right;
    margin-top:0.5em;
}
[blogClosed]{
    /* background-color:#300; */
}
[blogAfter]{
    /* background-color:#003; */
}






/* Цитатник */
.quote_container{
    max-width:40em;
    margin:auto;
    padding:1em;
}
.quote_body{
    margin:auto;
    padding: 0 1em;
    margin-bottom:1em;
    position:relative;
    text-align:center;
}

[hide]{
    display:none;
}


.paginator{
    margin: auto;
}



.event_list_time{
    margin-top: 0.5em;
    font-size: 1.2em;
    color: white;
    background-color: black;
    padding: 0 2px;
}
.event_list_title{
    
}


#events_cal_container{
    text-align:center;
    max-width:210px;
    margin:auto;
}
.events_cal{
    /* display:-ms-grid; */
    width: 100%;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    /* -ms-grid-columns:repeat(7,1fr); */
    text-align: left;
}
.events_cal > div{
    display: inline-block;
    width: 30px;
}

.cal_week_day{
    color:#bbb;
}
.cal_day, .cal_week_day{
    text-align: center;
}
.cal_today{
    background-color:grey;
}
.cal_checked{
    border:1px solid white;
}


#core_timer{
    font-size:2em;
    display:inline-block;
    padding:0 0.3em;
}