*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    background-color:white;
}

a{
    text-decoration:none;
}

#body{
    width:100%;
    margin:auto;
    font-family: Arial;
font-size:0.8em;
}
.cke{
    margin:0 10px 0 0 !important;
    border:1px solid black !important;
}

.clear{
    clear:both;
}


#container{
    max-width:1500px;
    margin:0 auto;
    background-color:black;
    color:white;
}

h{
    background-color:grey;
    border-left:5px yellow solid;
    padding:5px;
    display:block;
    margin-bottom:3px;
    color:black;
    font-size: 20px;
}

footer{
    height:75px;
    background-color:yellow;
    color:grey;
    font-size:40px;
    text-align:center;
    line-height:75px;
}

#header{
    background-image: url(https://images.gameru.net/image/direct/45ba94008c687d6.jpg);
    background-position: 30% center;
    background-size: 100%;
    height: 150px;
    color: yellow;
    text-align:center;
    line-height:75px;
    font-size:30px;
}

.mb05{
    margin-bottom:0.5em;
}


.radio_info{
    text-align:center;
    color:black;
    margin-bottom:0.5em;
}




/* Навигация */
#rr{
    margin-top:0.3em;
    background-color:black;
    color:white;
}
.rr_r{
    flex-basis:50px;
    flex-grow: 1;
    text-align: center;
}





/* Разбиение на колонки с помощью ФЛЕКСа */
.flex-container,#rr{
    display:flex;
    justify-content:center;
    align-items:stretch;
    
}
.column{
    display:flex;
    flex-direction:column;
    padding:6px 0;
    flex-basis:0px;
}
.window{
    margin:0 3px;
}
.window *{
    max-width:100% !important;
}





/* Формы. На данный момент не актуально...  */
.form-container{
    margin-top:10px;
}
.form-title{
    float:left;
    padding:0 5px;
    width:30%;
    text-align:right;
}
.form-body{
    margin-left:30%;
    /* padding-top:3px; */
}
.form-info{
    color:grey;
    font-size:12px;
    padding:2px;
}
.form-error{
    color:red;
    font-size:12px;
    padding:2px;
}

/*  Элементы форм  */








button:hover{
    cursor:pointer;
}


.right{
    float:right;
}

.left{
    float:left;
}


/* Для админов */
.admin_button{
    color: #99f;
}
.admin_button:hover{
    cursor:pointer;
    text-decoration:underline;
}



/*  Стили самого блога */
.blog_tag{
    cursor:pointer;
    color: #faa;
}

#blog-view img{
    max-width:100%;
}

.blog_tag:hover{
    text-decoration:underline;
}

.blog_header{
    padding:0.5em 0 0.5em 5em;
    margin:2em 2em 0 2em;
    background-color:grey;
    font-size:1.5em;
}

.blog_open, .events_open{
    cursor:pointer;
    color:yellow;
}
.blog_open:hover, .events_open:hover{
    text-decoration:underline;
}

.blog_image{
    height: 6em;
    width: 6em;
    margin-right: 0.5em;
    border:1px solid white;
    border-radius:0.5em;
    overflow:hidden;
}
.blog_image > img{
    height:100%;
}

.blog_info{
    text-align:right;
    margin-top:0.5em;
}
[blogClosed]{
    background-color:#300;
}
[blogAfter]{
    background-color:#003;
}






/* Цитатник */
.quote_container{
    max-width:40em;
    margin:auto;
    padding:1em;
}
.quote_body{
    width:90%;
    margin:auto;
    padding: 1em;
    margin-bottom:1em;
    position:relative;
    text-align:center;
}
.quote_author{
    float:right;
}
.clear{
    clear:both;
}
.quote_open, .quote_close{
    color:grey;
    font-size:4em;
    position:absolute;
    letter-spacing:-0.15em;
}
.quote_open{
    right:-0.1em;
    top:-0.7em;
}
.quote_close{
    left:-0.15em;
    bottom:0px;
}


#events_cal_container{
    text-align:center;
    max-width:20em;
}
.events_cal{
    display:grid;
    grid-template-columns:repeat(7,1fr);
}
.cal_week_day{
    color:grey;
}
.cal_day{
    
}
.cal_today{
    background-color:green;
}
.cal_checked{
    border:1px solid red;
}


#core_timer{
    font-size:4em;
    border:1px solid white;
    border-radius:1em;
    display:inline-block;
    padding:0 0.3em;
}