<div data-role="navigator" id="blog-view">
    <h>Новости:</h>
      <span class="right">
{% if tag %}
        <span class="blog_tag" data-type="blog_home">{{ tag }}</span>
{% endif %}
        <span class="blog_tag" data-type="blog_history" data-method="back">&lt;</span>
        <span class="blog_tag" data-type="blog_history" data-method="forward">></span>
      </span>
      {{ paginator|raw }}
      <br><hr><br>
    {% for post in posts %}
{% include 'blog_row.twig' %}
      <br><hr><br>
    {% endfor %}
      {{ paginator|raw }}
</div>