  <div class="window_body">
<div style="text-align:center;">
    <div id="core_timer">{{ time }}</div>
</div>
<script>
      var system = system || {};
      var time = new Date();
      system.timezone = (time.getTimezoneOffset() / 60) + 3;
      var timer = setInterval(function(){
          var data = new Date();
          data.setHours(data.getHours() + system.timezone);
          var res = data.getHours() + ':';
          res += data.getMinutes() > 9 ? data.getMinutes() : '0' + data.getMinutes() ;
          res += ':';
          res += data.getSeconds() > 9 ? data.getSeconds() : '0' + data.getSeconds() ;
          document.getElementById('core_timer').innerText = res;
      },1000);
</script>
  </div>