<div class="form-container">
{% if error %}
          <div class="form-error form-body">* {{ error }}</div>
{% endif %}
{% if title %}
        <div class="form-title"><b>{% if options.require %}* {% endif %}{{ title | raw }}</b></div>
{% endif %}
        <div class="form-body">
{% block element %}
{% if body %}
        {{ body | raw }}
{% endif %}
{% endblock %}
        </div>
{% if info %}
          <div class="form-info form-body">{{ info | raw }}</div>
{% endif %}
    </div>